/*GENERAL STYLING*/
body {
  margin: 0;
  background: #f6e9de;
  font-family: "Inter", sans-serif;
  color: #1a1a1a;
}

#app {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 50px;
}

#container {
  padding: 80px 0;
  min-height: 60vh;
}

header {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  padding: 20px 0;

  #logo {
    max-width: 160px;
  }
  #menu-and-searchbar {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
  }
  #search {
    flex-grow: 1;
    min-width: 300px;
    height: 50px;
  }
}

footer {
  display: flex;
  flex-direction: column;
  gap: 0px;
  padding-top: 20px;
  border-top: 2px solid #1a1a1a;

  #telerik-project-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }

  #copyright {
    text-align: center;
  }
}


/*CONTAINER*/
/*GIF snippets*/
.gifs-listing {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px; /* Adjust the value as needed */
}

.gifs-listing .gif-snippet {
  position: relative;
  width: 100%;
  border: solid 2px #1a1a1a;
  border-right: 4px solid #1a1a1a;
  border-radius: 20px;
  overflow: hidden;
}

.gifs-listing .gif-snippet .gif-title {
  font-size: 18px;
  color: #fff;
  position: absolute;
  bottom: 20px;
  padding: 0 30px;
}
