/*GENERAL STYLING*/
:root {
  --primary-color: #1a1a1a;
  --secondary-color: #525252;
  --accent-color: #ff7c5c;
  --background-color: #f6e9de;
  --white-color: #fff;
}

body {
  margin: 0;
  background: var(--background-color);
  font-family: "Inter", sans-serif;
  color: var(--primary-color);
}

.overlay-loading.active {
  width: 100%;
  height: 100%;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.4);
  display: inline-block;
  position: absolute;
  top:0;
  left: 0;
  overflow: hidden;
}

#app {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 50px;
}

#container {
  padding: 20px 0 60px 0;
  min-height: 60vh;
}

.container-center {
  text-align: center;
  max-width: 900px;
  margin: auto;
}

/*HEADER STYLING*/
header {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  padding: 20px 0;
}

header #logo {
  max-width: 160px;
  cursor: pointer;
}

header #menu-and-searchbar {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
}

/*nav links*/
header #menu-and-searchbar a:not(.upload-btn) {
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  color: var(--primary-color);
  transition: .2s ease-in;
}

header #menu-and-searchbar a:hover:not(.upload-btn) {
  color: var(--accent-color);
}

header #menu-and-searchbar a.active:not(.upload-btn) {
  color: var(--accent-color);
}

header #menu-and-searchbar a:not(.upload-btn)::after,
header #menu-and-searchbar a.active:not(.upload-btn)::after {
  content: '';
  display: block;
  position: relative;
  width: 0%;
  border-bottom: 3px solid var(--accent-color);
  transition: .2s ease-in;
  margin-top: 5px;
  margin-bottom: -5px;
}

header #menu-and-searchbar a:not(.upload-btn):hover::after,
header #menu-and-searchbar a.active:not(.upload-btn)::after {
  width: 100%
}

/*search-bar*/
#search-box {
  flex-grow: 1;
  min-width: 300px;
  display: flex;
  flex-direction: row;
}

header #search {
  flex-grow: 1;
  height: 50px;
  border: 2px solid var(--primary-color);
  border-bottom: 4px solid;
  border-right: none;
  border-radius: 10px 0 0 10px;
  padding: 0 20px;
}

#search-box #search-btn {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  max-width: 55.6px;
  max-height: 55.6px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: linear-gradient(45deg, rgb(153, 51, 255) 0%, var(--accent-color) 50%, rgb(153, 51, 255) 100%);
  padding: 0 7px;
  border: 2px solid var(--primary-color);
  border-bottom: 4px solid;
  border-right: 4px solid;
  border-left: none;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}


#search-box #search-btn svg {
  max-height: 40px;
  max-width: 40px;
  fill: #fff;
  transition: 0.2s ease-out;
}

#search-box #search-btn svg:hover {
  max-height: 40px;
  max-width: 40px;
  fill: #fff;
  scale: 1.12;
}

/*upload button*/
.upload-btn {
  text-decoration: none;
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, rgb(97, 87, 255) 0%, rgb(0, 204, 255) 100%);
  border-radius: 10px;
  padding: 5px;
  font-size: 12px;
  text-transform: uppercase;
  transition: 0.2s ease-out;
  border: solid 2px var(--primary-color);
  border-right: 4px solid var(--primary-color);
  border-bottom: 4px solid var(--primary-color);
}

.upload-btn:before {
  content: '';
  display: block;
  width: 26px; 
  height: 26px; 
  background-image: url('../images/upload.svg');
  background-size: cover; 
  background-position: center;
  filter: invert(1);
}

.upload-btn:hover {
  scale: 1.08;
}


/*FOOTER STYLING*/
footer {
  display: flex;
  flex-direction: column;
  gap: 0px;
  padding-top: 20px;
  border-top: 2px solid var(--primary-color);

  #telerik-project-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }

  #copyright {
    text-align: center;
  }
}



/*GIF snippets*/
.gifs-listing {
  column-count: 4;
  column-gap: 10px;
}

.gifs-listing .gif-snippet {
  position: relative;
  margin: 0;
  display: grid;
  grid-template-rows: 1fr auto;
  margin-bottom: 10px;
  break-inside: avoid;
  border: solid 2px var(--primary-color);
  border-right: 4px solid var(--primary-color);
  border-bottom: 4px solid var(--primary-color);
  border-radius: 20px;
  overflow: hidden;
  transition: 0.3s;
}

.gifs-listing .gif-snippet:hover {
  scale: 1.02;
}

.gif-snippet:hover {
  cursor: pointer;
}

.gif-snippet .favorite {
  position: absolute;
  top: 40px;
  right: 20px;
  font-size: 40px;
  color: var(--white-color);
  line-height: 0px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.gif-snippet .favorite.active {
  color: red;
  font-size: 32px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}


/*GIF details*/
#gif-detailed-inner {
  display: flex;
  flex-direction: row-reverse;
  gap: 50px;
  padding: 50px;
  background-color: var(--primary-color);
  border-radius: 20px;
  color: var(--white-color);

}

#gif-detailed-inner .col-right,
#gif-detailed-inner .col-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#gif-detailed-inner .detailed-image {
  border-radius: 20px;
  border: solid 2px var(--white-color);
  border-right: 4px solid var(--white-color);
  border-bottom: 4px solid var(--white-color);
}

.user-profile img {
  border-radius: 50%;
  border: solid 1px var(--white-color);
  border-right: solid 2px var(--white-color);
  border-bottom: solid 2px var(--white-color);
  max-width: 80px;
}

.user-profile {
  display: flex;
  flex-direction: row;
  gap: 20px
}

.user-profile .user-name-username {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
}

.user-profile .user-name-username p {
  margin: 0;
  font-size: 16px;
}

.user-profile .user-name-username p:first-of-type {
  font-weight: 700;
  font-size: 22px
}

.gif-info #user-description {
  font-size: 14px;
  font-weight: 200;
  margin-top: 30px;
}

.favs-source {
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
  align-items: end;
  justify-content: space-between;
}

.favs-source .favs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.favs-source .favs .favorite {
  font-size: 40px;
  padding: 30px;
  background: var(--secondary-color);
  border-radius: 10px;
  line-height: 0;
  transition: 0.2s ease-out;
}

.favs-source .favs .favorite:hover {
  scale: 1.12;
}

.favs-source .favs .favorite.active {
  font-size: 32px;
  color: red
}

.favs-source #source {
  font-size: 14px;
  font-weight: 200;
}



/*Upload page*/
#upload-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  color: var(--primary-color);
  background-color: var(--white-color);
  padding: 60px;
  border-radius: 20px;
  border: solid 2px var(--primary-color);
  border-right: 4px solid var(--primary-color);
  border-bottom: 4px solid var(--primary-color);
  text-align: left;
}

#files-container {
  color: var(--white-color);
  background-color: var(--primary-color);
  border-radius: 10px;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 20px;
  justify-items: center;
  align-items: center;
}

/*files*/
#local-file-container,
#file-url-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px 20px ;
  background-color: var(--secondary-color);
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
  min-height: 180px;
  justify-content: center;
  position: relative;
}

#local-file-container h3,
#file-url-container h3 {
  font-size: 22px;
  font-weight: 700;
  margin: 0;
}

.add-info {
  font-size: 12px;
  font-style: italic;
  font-weight: 200;
}

#text-separator {
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
}

#file-url-container input {
  height: 40px;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
}

.file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

.file-input {
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.file-input label {
  display: block;
  position: relative;
  height: 40px;
  border-radius: 5px;
  background: linear-gradient(45deg, rgb(97, 87, 255) 0%, rgb(0, 204, 255) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: .2s ease-out;
  border: solid 2px var(--primary-color);
  border-right: solid 4px var(--primary-color);
  border-bottom: solid 4px var(--primary-color);
}

.file-input label:hover {
  border: solid 2px var(--primary-color);
  border-right: solid 2px var(--primary-color);
  border-bottom: solid 2px var(--primary-color);
}

.file-name {
  position: absolute;
  bottom: -5px;
  font-size: 14px;
  font-weight: 300;
}

/*additional info container*/
#gif-add-info-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

#gif-add-info-container label {
  font-size: 18px;
  font-weight: 500;
}

#gif-add-info-container input {
  height: 40px;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  margin-top: 7px;
}

#gif-add-info-container .add-info {
  font-weight: 300;
}

#tags-container,
#source-url-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#button-container {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#upload-button {
  align-self: center;
  font-size: 18px;
  font-weight: 700;
  padding: 16px 36px;
  border-radius: 5px;
  border: solid 2px var(--primary-color);
  border-right: solid 4px var(--primary-color);
  border-bottom: solid 4px var(--primary-color);
  transition: 0.2s ease-in-out;
  background-color: var(--white-color);
}

#upload-button:hover {
  border: solid 2px var(--primary-color);
  margin-left: 2px;
  margin-top: 2px;
}

#upload-button {
  cursor: pointer;
}


/* .favs {
  display: flex;
} */

.favorite {
  cursor: pointer;
}

form p.error-message {
  color: red;
  font-weight: 500;
}

form p.successful-upload {
  color: rgb(95, 155, 7);
  font-weight: 600;
}